[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "cmsafvis"]
	path = cmsafvis
	url = https://github.com/cmsaf/cmsaf-r-tools
	shallow = true
	subdir = cmsafvis
	registered = true
[submodule "cmsaf"]
	path = cmsaf
	url = https://github.com/cmsaf/cmsaf-r-tools
	shallow = true
	subdir = cmsaf
	registered = true
[submodule "cmsafops"]
	path = cmsafops
	url = https://github.com/cmsaf/cmsaf-r-tools
	shallow = true
	subdir = cmsafops
	registered = true
