[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cmsaf"]
	path = cmsaf
	url = https://github.com/cmsaf/cmsaf-r-tools
	subdir = cmsaf
[submodule "cmsafops"]
	path = cmsafops
	url = https://github.com/cmsaf/cmsaf-r-tools
	subdir = cmsafops
[submodule "cmsafvis"]
	path = cmsafvis
	url = https://github.com/cmsaf/cmsaf-r-tools
	subdir = cmsafvis
